* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.col-heading {
  text-align: center !important;
  border-right: 1px solid lightgray;
  font-weight: normal;
  padding-bottom: 0.5rem;
}

.col {
  padding-left: 0;
  padding-bottom: 8rem;
}

.col-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  padding: 0;
  width: 100%;
  min-height: 1200px;
}
[aria-labelledby='avatar-label'] {
  display: flex;
  overflow-x: scroll;
}
